<header>
  <nav class="navbar navbar-dark bg-dark">
    <button class="actionBtn btn btn-primary" (click)="toggleWebcam();">Įjungti kamerą</button>
    <button class="actionBtn btn btn-primary" (click)="triggerSnapshot();">Fotografuoti</button>
  </nav>
</header>

<div style="text-align:center">
  <h1>
    Webcam App
  </h1>
  <div>
  </div>
  <br>
  <div>
    <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
            (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)"
    ></webcam>
    <br/>

    <br/>
  </div>
</div>

<div class="snapshot" style="text-align:center" *ngIf="webcamImage">
  <h2>Jūsų nuotrauka</h2>
  <img [src]="webcamImage.imageAsDataUrl"/>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>

